body {
  padding: 0px;
  margin: 0px;
  background-color: #e6f2ff;
  background-size: 48px 48px;
  background-image: radial-gradient(transparent 20px,
      #ffcce0 20px,
      #ffffff 24px,
      transparent 24px),
    radial-gradient(transparent 20px,
      #ffcce0 20px,
      #ffffff 24px,
      transparent 24px);
  background-position: 0 0, 24px 24px;
}

h1 {
  margin: 20px 0px 0px 20px;
  font-family: 'Spartan', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

.blog-h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  display:block;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  text-align: center;
}

.blog-h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: black;
  display:block;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  display:inline-block;
}

nav {
  margin: 20px;
  float: right;
  position: relative;
  bottom: 50px;
  right: 50px;
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

img {
  display: block;
  padding: 0px;
}

.blog-img {
  display:block;
  width:500px;
  margin:30px auto;
}

.blog-preview {
  display: block;
  float: left;
  width: 300px;
  height: 500px;
  background-color: #F3F9FF;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

.blog-preview-middle {
  margin: 10px 40px;
  background-color: #FFF6F9;
}

#header {
  margin: 0px;
  background-color: #ffffff;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.17);
}

#preview {
  margin: 200px auto 50px auto;
  padding: 20px 40px;
  width: fit-content;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.17);
}

#preview-blogs {
  margin: 200px auto 50px auto;
  padding: 20px 40px;
  width: fit-content;
  min-width: 1040px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.17);
}

#footer {
  width: 33%;
  padding: 10px;
  display: block;
  margin: 0px auto;
  text-align: center;
}

#preview-image {
  width: 300px;
  height: 500px;
  margin: 0px;
  background-color: gray;
}

.btn {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #e6f2ff, #ffcce0) 1;
  border-radius: 25px;
  padding: 5px 20px;
  margin: 0px 30px;
}

#blog-content {
  width: 1000px;
  min-height: 800px;
  margin: 200px auto 50px auto;
  padding: 20px 40px;
  display: block;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.17);
}

.blog-link {
  display:block;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color:green;
  }
}

@media only screen and (max-width: 1200px) {
  #preview {
    display: inline-block;
    width: 50%;
  }
  nav {
    display:inline-block;
    float:none;
    position:static;
  }
  #header {
    display: inline-block;
    height: fit-content;
  }
}