body{
    padding: 0;
    margin: 0;
    background-color: #e6f2ff;
    background-size: 48px 48px;
    background-image: radial-gradient(
        transparent 20px,
        #ffcce0 20px,
        #ffffff 24px,
        transparent 24px
    ),
    radial-gradient(
        transparent 20px,
        #ffcce0 20px,
        #ffffff 24px,
        transparent 24px
    );
    background-position: 0 0 , 24px 24px;

}

h1 {
  display: inline-block;
  margin: 20px 0px 0px 20px;
}

nav {
  display: inline-block;
  float: right;
  margin: 40px 40px 0px 0px;
}

#preview {
  width:50%;
  margin: auto;
  padding: 10px;
}

#footer {
  width:50%;
  margin: auto;
  padding: 10px;
}
